<html>
  <head>
    <meta charset='utf-8' />
    <style>
body {
  background-color: black;
  color: white;
}
    </style>
  </head>
  <body>
    <%= yield %>

    <!-- this is slow -->
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>
    <%#= partial 'shared/hello' %>

    <!-- this is 35% faster -->
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
    <%= html.hello(t) %>
  </body>
</html>
