<h1>info</h1>

<% @foods.each do |food| %>
  <%= food[:name] %>,
  <%= food[:protein] %>,
  <%= food[:calories] %>,
  <%= food[:fat] %>,
  <%= food[:carbohydrate] %>,
  <%= food[:fiber] %>,
<% end %>
