<html>
  <head>
    <style>
body {
  background-color: black;
  color: white;
}
    </style>
  </head>
  <body>
    <%= partial 'shared/navbar' %>

    <%= yield %>
    <%= partial 'shared/navbar' %>
    <%= partial 'shared/navbar' %>
    <%= partial 'shared/navbar' %>
  </body>
</html>
